*
{
    margin: 0;
    padding: 0;
}
.main-nav
{
    float:right;
    list-style:none;
    margin-top: 1px;
}

.main-nav li{
    display:inline-block;
}
.main-nav li a
{
    color:black;
    text-decoration:none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.main-nav li.active:hover
{
  border: 1px solid black;  
}
.main-nav
{
    background-color: rgb(97, 255, 234);
    
}
#titleid
{
    background-color: rgb(97, 255, 234);
    display: inline;
}
.computing
{
    background-color: rgb(238, 255, 0);
    display: inline;
    float: left;
    font-size: 25px;
}
.shownav{
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    float: left;
}



