*
{
    margin: 0;
    padding: 0;
}
.main-nav
{
    float:right;
    list-style:none;
    margin-top: 1px;
}

.main-nav li{
    display:inline-block;
}
.main-nav li a
{
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.main-nav
{
    background-color: rgb(97, 255, 234);
    
}
#titleid
{
    background-color: rgb(97, 255, 234);
    display: inline;
}
.computing
{
    background-color: rgb(238, 255, 0);
    display: inline;
    float: left;
    font-size: 25px;
}
.shownav{
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid rgb(255, 0, 0);
    border-bottom: 0.2em solid rgb(255, 0, 0);
    
}
.shownav:before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0.3em;
    right: 0px;
    
}
.main-nav{
    display: block;
    background-color:yellow;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}
nav:target{
    display: block;
}
div.close{
    display: block;
    color: green;
}
