.main-nav
{
    float:right;
    list-style:none;
    margin-top: 1px;
}

.main-nav li{
    display:inline-block;
}
.main-nav li a
{
    color:black;
    text-decoration:none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}


.main-nav li.active:hover
{
  border: 1px solid black;  
}
.main-nav
{
    background-color: rgb(97, 255, 234);
}